<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-black py-3">
    <div class="max-w-7xl mx-auto ">
        <!-- px-2 sm:px-6 lg:px-8 -->
        
       
            <div class="flex items-center justify-between h-16">

                <div class="flex-shrink-0 flex items-center">
                    <img class="block lg:hidden h-5 w-auto"
                        src="https://uploads-ssl.webflow.com/61f03747d8d407ed117df27f/627d5184d536f0805ba6dbfd_Portfolio%20Logo%202.svg"
                        alt="Workflow">
                    <img class="hidden lg:block h-5 w-auto"
                        src="https://uploads-ssl.webflow.com/61f03747d8d407ed117df27f/627d5184d536f0805ba6dbfd_Portfolio%20Logo%202.svg"
                        alt="Workflow">
                </div>

                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="#" class=" text-white px-3 py-2 text-sm font-medium" aria-current="page">Home</a>

                        <a href="#" class="text-gray-100 px-3 py-2 text-sm font-medium">Services</a>

                        <a href="#" class="text-gray-100 px-3 py-2 text-sm font-medium">Projects</a>

                        <a href="#" class="text-gray-100 px-3 py-2 text-sm font-medium">About Me</a>
                    </div>
                </div>

                <div class="">
                    <button type="button"
                        class="bg-gray-100/20 px-6 py-3 rounded-full text-gray-100 hover:text-white focus:outline-none ">
                        Contact Me
                    </button>
    
                    
    
                </div>

            </div>
          
       
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="#" class="bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium"
                aria-current="page">Dashboard</a>

            <a href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Team</a>

            <a href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Projects</a>

            <a href="#"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Calendar</a>
        </div>
    </div>
</nav>