<section id="" class="bg-black py-20">
    <div class="max-w-7xl mx-auto">
        <div class="max-w-2xl mx-auto text-center">
            <h2 class="text-white text-7xl font-bold">Look at my <span
                    class="text-transparent  bg-clip-text bg-gradient-to-r from-[#c111b7] via-[#d01683] to-pink-400">services</span>
            </h2>
            <p class="text-gray-500 py-5">
                If you are looking for someone who will help you to build your digital web presence than
                congratulations!
            </p>
        </div>


        <div class="grid grid-cols-1 lg:grid-cols-3 mt-10 gap-10">

            <div class="relative group">
                <span class="absolute -inset-2  group-hover:bg-gradient-to-tr from-yellow-500 via-pink-500 to-indigo-500 transition duration-1000 group-hover:duration-200 group-hover:animate-tiltTwo blur-xl">
                    
                </span>
                <div class="relative bg-[#1f1f1f] p-8 space-y-7 py-16">
                    <div class="">
                        <img src="https://uploads-ssl.webflow.com/61f03747d8d407ed117df27f/61f15296695f17610b51d4f1_services%20logo%201.svg"
                            alt="" srcset="">
                    </div>
                    <div class="">
                        <h2 class="text-white text-3xl font-bold">Website Design
                        </h2>
                    </div>
                    <div class="">
                        <p class="text-normal text-sm text-gray-400 leading-6">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative
                            approaches to corporate
    
    
                        </p>
                    </div>
                </div>
            </div>

            <div class="relative group">
                <span class="absolute -inset-1  group-hover:bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 transition duration-1000 group-hover:duration-200 group-hover:animate-tiltTwo blur-lg">
                    
                </span>
                <div class="relative bg-[#1f1f1f] p-8 space-y-7 py-16">
                    <div class="">
                        <img src="https://uploads-ssl.webflow.com/61f03747d8d407ed117df27f/61f15296695f17610b51d4f1_services%20logo%201.svg"
                            alt="" srcset="">
                    </div>
                    <div class="">
                        <h2 class="text-white text-3xl font-bold">SEO Marketing

                        </h2>
                    </div>
                    <div class="">
                        <p class="text-normal text-sm text-gray-400 leading-6">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative
                            approaches to corporate
    
    
                        </p>
                    </div>
                </div>
            </div>


            <div class="relative group hover:-translate-y-3 ">
                <span class="absolute -inset-1  group-hover:bg-gradient-to-r from-[#1f1f1f] via-[#d01683] to-[#1f1f1f] transition duration-1000 group-hover:duration-200 group-hover:animate-tiltTwo blur-lg">
                    
                </span>
                <div class="relative bg-[#1f1f1f] p-8 space-y-7 py-16">
                    <div class="">
                        <img src="https://uploads-ssl.webflow.com/61f03747d8d407ed117df27f/61f15296695f17610b51d4f1_services%20logo%201.svg"
                            alt="" srcset="">
                    </div>
                    <div class="">
                        <h2 class="text-white text-3xl font-bold">WP Development

                        </h2>
                    </div>
                    <div class="">
                        <p class="text-normal text-sm text-gray-400 leading-6">
                            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative
                            approaches to corporate
    
    
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>